*__pycache__
*.pytest_cache
/Pipfile*
/.idea
/.venv
/.env*
/allure-results
/api-tests
/venv
/outputs
/debug
/hars
/images
/downloads
/generated
/tests/api/debug
questions.txt
*.playwright-screenshots
/nul
